#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
}

textarea {
  min-width: 300px;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  padding:10px;
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease;
}

textarea:focus {
  outline: none;
  border-color: #6c5ce7;
  box-shadow: 0 0 6px rgba(108, 92, 231, 0.6);
}

.file-handling-buttons {
  display: flex;
  justify-content: space-between;
}

.file-input {
  display: none;
}
